/* --- $ Colores
 ------------------------- */
 $negro: #000000;
 $azul: #0E3FFF;
 $azul-marino: #113EB2;
 $gris: #969696;
 $blanco: #fff;
 $rojo: #FF0D12;
 $verde:#0C5C20;
 $amarillo:#FFF508;
 $cafe: #B27F00;


 /* --- $ Fonts
 -------------------------------- */
$fuente: 'sans-serif';

/* --- $ Fonts Tamaño
 -------------------------- */
 $h1z:3em;
 $h2z:2.5em;
 $h3z:1.8em;