<!DOCTYPE html>
html(lang=es)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/style.css")
		title Impanel

		body
			//El Header
			.ed-container
				.ed-item.logo.movil-100.tablet-100.web-100.center-text
					img(src="images/logo.png")
			.ed-container#menu-principal  
				.ed-item.center-text.main-menu.main-center
					include paginas/menu
				.ed-item#imagen-fondo.no-padding
					.img-fondo.full.web-70
						img(src="images/preguntas-frecuentes.jpg")

			.ed-container#preguntas-frecuentes
				section.ac-container.ed-container
					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Los paneles se pueden fabricar con otro espesor, pueden ser fabricados a medida?
						.panel
							p Sí, los paneles SIP pueden ser fabricados con otros espesores distintos a los ofrecidos por IMPANEL, siendo responsabilidad del mandante poseer el elemento de ensamble que posea las dimensiones específicas para tal espesor.
					
					.ed-item.base-3-3.web-3-3
						
						button(class="accordion") ¿Dónde se fabrican los paneles?
						.panel
							p Los paneles son fabricados en Punta Arenas Arenas, en una planta que cuenta con la más alta tecnología para la confección de estos y que sigue un estricto control de calidad en cada una de las etapas de elaboración. La materia prima utilizada cumple con estándares de calidad internacionales, lo que asegura una alta calidad de nuestros paneles.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Cuales son las ventajas de los paneles Impanel frente a los sistemas de construcción convencional?
						.panel
							p La construcción con paneles SIP presenta varias ventajas en comparación con los sistemas convencionales: se agiliza la construcción de la vivienda y su montaje, disminuye la utilización de mano de obra en terreno, poseen mejor calidad estructural y mejor aislamiento térmico. El panel soluciona simultáneamente el aislamiento y la estructura de la construcción, estudios realizado por la Universidad de Washington determinaron que la construcción con paneles Sip implica ahorros de energía en calefacción y/o aire acondicionado de hasta 7 veces, comparado con otros sistemas convencionales de construcción.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Cuanto se demoran en fabricar los paneles?
						.panel
							p Solemos contar con stock de paneles en todas las medidas para poder realizar una entrega inmediata (sin cortes). La fabricación es relativa, dependiendo del volumen y tamaño de los proyectos y si estos son dimensionados o no; sin embargo, la capacidad de nuestras instalaciones permiten una fabricación diaria promedio de alrededor de 130 paneles en un turno (aproximadamente lo utilizado por una vivienda de 100m2).

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Se pueden cortar para hacer modificaciones?
						.panel
							p Los paneles SIP pueden y son dimensionados al momento de realizar el proyecto, sin embargo, en caso de existir una futura modificación de la construcción estos pueden ser alterados, siempre y cuando,  como en todo tipo de estructura, dicha intervención no comprometa la estabilidad estructural del panel y por ende, de la construcción.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Son utilizados sólo para la estructura exterior?
						.panel
							p El panel puede ser utilizado tanto en muros exteriores como interiores, techos y pisos.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Se pueden pasar instalaciones eléctricas adentro?
						.panel
							p En los paneles sí es posible pasar las instalaciones eléctricas dentro, por medio de canalizaciones previamente perforadas. Nuestros paneles no traen las canalizaciones eléctricas incluidas, sin embargo están se pueden realizar con un costo adicional.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Se puede revestir?
						.panel
							p Sí, pueden y deben ser revestidos, por lo menos las caras que están en contacto con el exterior.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Cómo reaccionan al fuego?
						.panel
							p La resistencia al fuego del panel es la misma del OSB: F15.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Se puede utilizar otra placa, que no sea osb, para la fabricación?
						.panel
							p  Sí, se puede hacer uso de otra placa, siempre y cuando cumpla estructuralmente para el uso que se le dará al panel, ya sea para piso, muros, cubierta, etc. Nuestros paneles están certificados estructuralmente sólo con placas de OSB (sello APA).

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿En cuanto disminuye el tiempo de fabricación de una casa?
						.panel
							p  El tiempo de ejecución de una vivienda estructurada con panel SIP representa el 25% del tiempo en comparación con los sistemas de tabiquería en madera y carpintería metálica, y aún más rápido en comparación con la construcción en albañilería.

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Qué aislación térmica tienen?
						.panel
							p La aislación térmica depende básicamente en el espesor del panel, IMPANEL posee distintos espesores para poder cumplir con la normativa en distintas zonas térmicas del país y para todos los tipos de estructura (pisos, techos, muros,etc.).

					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Cuanto es lo que se ahorra en energía?
						.panel
							p Estudios demuestran que el ahorro puede llegar al 60%, sin embargo este porcentaje debe ser apoyado por buenas prácticas constructivas que aseguren la buena estanqueidad en cada ensamble y encuentro de los paneles, sumando con ello los sellos y aislantes. La pérdida térmica de una vivienda depende de la aislación de la envolvente y en manera relevante de la estanqueidad de las juntas. 

							
					.ed-item.base-3-3.web-3-3
						button(class="accordion") ¿Cual es la durabilidad de los paneles?
						.panel
							p Los paneles Sip se vienen empleando como sistema constructivo hace más de 30 años en países como Estados Unidos y Canadá, además cumplen con la norma ASTM E C-481 de Estados Unidos, la cual garantiza su durabilidad, asegurando tanto la calidad aislante como la estructura del panel. En Chile este sistema de construcción llegó a comienzos de esta década y ya se han construido más de 25.000 casas usando solo paneles SIP.
			include paginas/footer.jade

		script(src="js/acordion.js")
		script(src="js/jquery.js")
		script(src="js/toggle.js")