//Archivo del header
.ed-container
	.ed-item.logo.movil-100.tablet-100.web-100.center-text
		img(src="images/logo.png")
.ed-container
	.ed-item.center-text.main-menu.main-center
		include menu
	.ed-item#imagen-fondo.no-padding
		.slider.multipleItems2.no-padding
			.ele
				img(src="images/index1.jpg")
			.ele
				img(src="images/index2.jpg")
			.ele
				img(src="images/index3.jpg")
			.ele
				img(src="images/index4.jpg")

    
    
