.ed-container#header
	.ed-item
		#toggle-menu.espacio 
			i(class="fa fa-bars" aria-hidden="true") 
			| <span class="texto-menu">Menú Principal</span>
		ul.ed-menu.web-horizontal.menu-principal
			li: a(href="index.html") Inicio
			li: a(href="quienes-somos.html") Quienes Somos
			li: a(href="ventajas.html") Ventajas
			li: a(href="#") Productos
			li: a(href="paneles.html").costado Paneles
			li: a(href="detalles-tecnicos.html").costado Detalles Técnicos
			li: a(href="galeria.html") Galería
			li: a(href="preguntas-frecuentes.html") Preguntas Frecuentes
			li: a(href="impassive-haus.html") Impassive Haus
			li: a(href="como-trabajamos.html") Contacto
			li: a(href="referencias.html") Referencias
		ul.ed-menu.web-horizontal.menu-principal2
			li: a(href="index.html") Inicio
			li: a(href="quienes-somos.html") Quienes Somos
			li: a(href="ventajas.html") Ventajas
			li: a(href="#") Productos
				ul
					li: a(href="paneles.html") Paneles
					li: a(href="detalles-tecnicos.html") Detalles Técnicos
			li: a(href="galeria.html") Galería
			li: a(href="preguntas-frecuentes.html") Preguntas Frecuentes
			li: a(href="impasivhaus.html") ImpasivHaus
			li: a(href="como-trabajamos.html") Contacto
			li: a(href="referencias.html") Referencias


