<!DOCTYPE html>
html(lang=es)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/style.css")
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Raleway:400,700|Roboto:400,700",rel="stylesheet")
		script(type="text/javascript" src="js/modernizr.custom.29473.js")
		title Impanel

		body
			//El Header
			.ed-container#header.full
				.ed-item.logo.movil-100.tablet-100.web-100.center-text
					img(src="images/logo.png")
			.ed-container#menu-principal  
				.ed-item.center-text.main-menu.main-center
					include paginas/menu
				.ed-item#imagen-fondo.no-padding
					.img-fondo.full.web-70
						img(src="images/6copia.jpg")

			.ed-container#impassive-house